html, body {
    height: 100%;
    margin: 0px;
}

div.output-screen-wrapper {
    width: 100%;
    height: 80%;
    display: block;
    background-color: rgb(150, 150, 150);
}

div.control-panel {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(50,50,50);
}

div.scene-wrapper {
    width: 15%;
    height: 90%;
    margin-right: 5px;
}

div.scene-list-box {
    width: 100%;
    height: 85%;
    background-color: rgb(100, 100, 100);
}

div.source-wrapper {
    width: 15%;
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

div.source-list-box {
    width: 100%;
    height: 85%;
    background-color: rgb(100, 100, 100);
}

div.mixer-wrapper {
    width: 30%;
    height: 90%;
    margin-left: 5px;
    margin-right: 5px;
}

div.mixer-list-box {
    width: 100%;
    height: 85%;
    background-color: rgb(100, 100, 100);
}

div.control-box {
    width: 10%;
    height: 90%;
    margin-left: 5px;
    background-color: rgb(100, 100, 100);
}